body {
    margin: 0;
    padding: 0;
}

.form--title {
    text-align: center;
}

.alert {
    display: none;
    text-align: center;
    margin-top: 0.5rem!important;
}

.btn-submit {
    width: 100%;
}

.form--title {
    padding-top: 0.5rem;
}

@media screen and (min-width:768px) {
    .navbar-collapse {
        justify-content: end;
    }

    .form--container,
    .client-list--container {
        padding: 0 6rem;
    }

    .form--container div {
        margin: 0 auto;
    }
}